{{!-- {{Navbar}} --}}
<div class="ui segment">
  <div class="ui secondary menu">
    <div class="header item" style="color: #2BBBAD;">MY Avgle</div>


    <div class="ui grid computer only">
      <a class="item" href="/vr"> VR </a>
      <a class="item" href="/ch">
        中文字幕
      </a>
      <a class="item" href="/all"> All </a>
    </div>
    <div class="right menu">
      <div class="item">
        <a class="item" href="/favorite"><i class="teal heart icon"></i>收藏</a>
      </div>
      <div class="item">
        <form class="ui form" onsubmit="return search()">
          <div class="ui transparent input">
            <input id="search_input" type="text" placeholder="Search...">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- {{Movie Component}} --}}
<div class="ui container">
  <h1>{{title}}</h1>
  <div class="ui card fluid">
    <iframe src="{{embedded_url}}" title="avgle" width="100%" height="500" frameborder="0" allowfullscreen="1"
      referrerpolicy="always"></iframe>
    <div class="content">
      <div class="meta">{{duration}}</div>
      <div class="description">
        {{#each keyword}}
        <a href="/search/{{this}}">{{this}}</a>
        {{/each}}
      </div>
      <button id="save-btn" class="ui icon button right floated">
        <i class="heart icon"></i>
      </button>
    </div>
    <div class="extra content">
      <i class="eye icon"></i>
      {{viewnumber}} views
    </div>
  </div>
</div>
<br />
<hr />
<footer>
  <p>copyright &copy; 2018</p>
</footer>
</body>
<script>
  function search() {
    console.log('hbs search()')
    var url = "/search/" + document.getElementById("search_input").value;
    location.href = url;
    document.getElementById("search_input").value = "";
    return false;
  }
  (async function () {
    const config = {
      apiKey: "AIzaSyADi8T3x8uB52tUBFtYPrnHlAA9kuuFLBg",
      authDomain: "dream-gallery-cf32a.firebaseapp.com",
      databaseURL: "https://dream-gallery-cf32a.firebaseio.com",
      projectId: "dream-gallery-cf32a",
      storageBucket: "dream-gallery-cf32a.appspot.com",
      messagingSenderId: "1015813923361"
    };
    firebase.initializeApp(config);
    const btn = document.getElementById('save-btn')
    const movie_vid = window.location.href.split('/')[4];
    let val;
    let isSaved = false;
    let saved_id;
    // get saved user data
    await firebase
      .database()
      .ref('movies')
      .once('value', snap => {
        val = snap.val();
      });
    console.log('hbs val=', val);
    for (let i in val) {
      console.log(val[i])
      if (val[i].vid === movie_vid) {
        console.log('found!')
        btn.classList.add('red');
        isSaved = true;
        saved_id = i
      }
    }
    async function save() {
      if (!isSaved) {
        let video = {}
        try {
          const res = await fetch(`https://api.avgle.com/v1/video/${movie_vid}`)
          const json = await res.json()
          video = json.response.video
          console.log(video)
        } catch (err) {
          console.error(err)
        }

        const ref = firebase.database().ref('movies').push(video, () => {
          btn.classList.add('red');
        });
      } else {
        firebase
          .database()
          .ref('movies/' + saved_id)
          .remove()
          .then(() => {
            console.log('remove success');
            btn.classList.remove('red')
          })
          .catch(err => { console.error(err) });
      }
    }
    btn.addEventListener('click', () => {
      save()
    })
  })();
</script>